@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}
body {
  font-weight: 500;
}
img {
  max-width: 100%;
}
h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  color: #4d4d4d;
}
h4 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: #4d4d4d;
}
p {
  font-size: 16px;
  line-height: 24px;
  color: #717171;
}
button {
  padding: 14px 32px;
  background-color: #4caf4f;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  width: fit-content;
  color: white;
}
button:hover {
  background-color: #43a047;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 144px;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  height: 84px;
  background-color: #f5f7fa;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.logo {
  flex: 1;
}

.menu {
  flex: 3;
  display: flex;
  justify-content: end;
}

.buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
.login {
  color: #4caf4f;
  text-decoration: none;
}
.logo img {
  width: 150px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li {
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.request {
  padding: 10px 20px;
}

nav ul li:hover {
  color: #4caf4f;
  cursor: pointer;
}

.request:hover {
  background-color: #43a047;
  cursor: pointer;
}
.hero {
  padding: 100px 0px;
  background-color: #f5f7fa;
}
h1 {
  font-size: 58px;
  line-height: 76px;
}
.hero-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 104px;
}
.hero-heading {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.green {
  color: #43a047;
}
.hero-heading p {
  margin-bottom: 20px;
}
.hero-image img {
  width: 391px;
  height: 407px;
}
.clients {
  padding: 40px 0px;
  text-align: center;
}
.client-heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.client-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
.client-logos img {
  width: 48px;
  height: 48px;
}
.cards {
  padding: 40px 0px;
}
.cards-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.cards-flex {
  display: flex;
  justify-content: space-between;
}
.card {
  text-align: center;
  padding: 32px 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 300px;
}
.card img {
  width: 48px;
  height: 48px;
}
.card::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 49%;
  background: url(./assets/after.png) no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  z-index: -1;
}
.card-section-flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.pixel {
  padding: 52px 0px;
}
.pixel-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pixel-image {
  flex: 0 0 50%;
}
.pixel-image img {
  width: 441px;
  height: 328px;
}
.pixel-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.pixel-text button {
  margin-top: 16px;
}
.help {
  padding: 64px 0px;
  background-color: #f5f7fa;
}
.help-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.help-text {
  flex: 0 0 50%;
}
.help-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.statBox {
  display: flex;
  align-items: center;
  gap: 7px;
  flex: 0 0 50%;
}
.statImage img {
  width: 48px;
  height: 48px;
}
.login {
  margin: 48px 0px;
}
.login-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-image {
  flex: 0 0 50%;
}
.login-image img {
  width: 440px;
  height: 430px;
}
.login-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login-text button {
  margin-top: 16px;
}
.customer {
  padding: 32px 0px;
}
.customer-flex {
  display: flex;
}
.customer-image {
  flex: 0 0 40%;
}
.customer-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.icon-images {
  display: flex;
  gap: 40px;
}
.icon-images img {
  height: 48px;
  width: 48px;
}
.icon-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
a {
  color: #4caf4f;
  font-size: 16px;
  font-weight: 500;
}
.caring {
  margin: 48px 0 92px 0px;
}
.caring-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.caring-text {
  text-align: center;
}

.caring-cards {
  display: flex;
  flex: 0 0 33%;
  gap: 50px;
}
.caringCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: #f5f7fa;
  border-radius: 10px;
  text-align: center;
  max-width: 317px;
}
.demo {
  padding: 32px;
}
.demo-flex {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.demo-flex h1 {
  color: #4d4d4d;
}
footer {
  background-color: #263238;
  padding: 64px 0 74px 0;
  color: white;
}
footer ul {
  list-style: none;
}
footer h5 {
  font-size: 20px;
}
.ftr-flex {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  justify-content: space-between;
}
.ftr-logo {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ftr-logo img {
  width: 191px;
  height: 30px;
}
.other {
  display: flex;
  gap: 30px;
}
.ftr-icons {
  display: flex;
  gap: 16px;
  height: 32px !important;
  width: 32px !important;
}
.ftr-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ftr-menu ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.ftr-newsletter {
  flex: 0 0 20%;
}
input {
  min-height: 40px;
  background-color: #4d4d4d;
  border: none;
  border-radius: 7px;
  width: 100%;
}
