@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}
body {
  font-weight: 500;
}
img {
  max-width: 100%;
}
h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  color: #4d4d4d;
}
p {
  font-size: 16px;
  line-height: 24px;
  color: #717171;
}
button {
  padding: 14px 32px;
  background-color: #4caf4f;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  width: fit-content;
  color: white;
}
button:hover {
  background-color: #43a047;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  height: 84px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.logo {
  flex: 1;
}

.menu {
  flex: 3;
  display: flex;
  justify-content: end;
}

.buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
.login {
  color: #4caf4f;
  text-decoration: none;
}
.logo img {
  width: 150px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li {
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.request {
  padding: 10px 20px;
}

nav ul li:hover {
  color: #4caf4f;
  cursor: pointer;
}

.request:hover {
  background-color: #43a047;
  cursor: pointer;
}
.hero {
  padding: 100px 0px;
}
h1 {
  font-size: 58px;
  line-height: 76px;
}
.hero-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 104px;
}
.hero-heading {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.green {
  color: #43a047;
}
.hero-heading p {
  margin-bottom: 20px;
}
.hero-image img {
  width: 391px;
  height: 407px;
}
.clients {
  padding: 40px 0px;
  text-align: center;
}
.client-heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.client-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
.client-logos img {
  width: 48px;
  height: 48px;
}
.cards {
  padding: 40px 0px;
}
.cards-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.cards-flex {
  display: flex;
  gap: 127px;
}
.card {
  text-align: center;
  padding: 32px 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.card img {
  width: 48px;
  height: 48px;
}
.card::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 49%;
  background: url(./assets/after.png) no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  z-index: -1;
}
